---
title: <%= options[:title] || Origen.app.namespace %>
<%= origen_core_frontmatter(options) %>
---
<%= render "partials/navbar.html", tab: options[:tab] %>

<div class="row">
%# The markdown attribute is important if you are going to include content written
%# in markdown, without this is will be included verbatim
  <div class="span12" markdown="1">
<%= yield %>    

<%= disqus_comments %>

</div>
</div>
