<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand" style="margin-top: -4px;">
        <img src="http://origen-sdk.org/img/origen-device.png" style="height:30px; margin-right: 2px; display: inline; margin-top: -2px;">
        <img src="http://origen-sdk.org/img/origen-text.png" style="height:15px; display: inline;">
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="<%= options[:tab] == :guides ? 'active' : '' %>"><a href="<%= path("guides/installation/introduction") %>">Guides</a></li>
        <li class="<%= options[:tab] == :videos ? 'active' : '' %>"><a href="<%= path("videos/1-pattern-in-20-minutes") %>">Videos</a></li>
        <li class="<%= options[:tab] == :publications ? 'active' : '' %>"><a href="<%= path("publications") %>">Publications</a></li>
        <li class="<%= options[:tab] == :api ? 'active' : '' %>"><a href="<%= path "api" %>">API</a></li>
        <li class=""><a href="https://github.com/Origen-SDK">Github</a></li>
        <li class="<%= options[:tab] == :community ? 'active' : '' %>"><a href="<%= path("community") %>">Community</a></li>
        <li class="<%= options[:tab] == :release ? 'active' : '' %>"><a href="<%= path "release_notes" %>">Release Notes</a></li>
        <li class="<%= options[:tab] == :plugins ? 'active' : '' %>"><a href="<%= path "plugins" %>">Plugins</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
